:root {
    --blue: #293264;
    --lightblue: #29389b;
    --offwhite: #F5F7FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--blue);
    background-color: var(--offwhite);
}

/* SPLASH */

.splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash h1 {
    font-size: 1.75rem;
}

.splash-desc {
    margin: .5rem 0 2rem;
}

.splash button {
    width: 12rem;
    height: 3.25rem;
    border-radius: 1rem;
    color: var(--offwhite);
    background-color: var(--blue);
    border: none;
    outline: none;
}

.splash button:hover {
    color: white;
    background-color: var(--lightblue);
}